:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --red: #f12c4c;
  --dark-background-four: #262f3c;
  --charcoal-grey: #343b4a;
}

.App-header {
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input.side{
  text-align: center;
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.side .select>div.black {
  background-color: var(--charcoal-grey);
  color: var(--white);
  height: 50px;
}
.side .select>div.white {
  background-color: var(--white);
  color: var(--red);
  margin: 0 7px;
  height: 50px;
}
.side .select>div.red {
  background-color: var(--red);
  color: var(--white);
  height: 50px;
}
.side .select>div {
  border-radius: 4px;
}
.side .select>div {
  width: calc(30.33333% - 2.66667px);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}